In [1]:
import pandas as pd

In [ ]:
assay = 'ay72'

In [10]:
df = pd.read_csv(f"../maps/{assay}_rq2xe.csv")
print(len(df.index))

53348

In [3]:
dups = df[df.duplicated(subset=['TRUE_PATIENT_ID'],keep=False)]
print(dups)

              RQ         LS         AT         XE  TRUE_PATIENT_ID
2      RQ3179114  LS3235895  AT2411969  XE3140203        101080952
3      RQ3128994  LS3183149  AT2382895  XE3094354        101081428
4      RQ3181832  LS3260440  AT2434511  XE3159704        101083199
6      RQ3183665  LS3288915  AT2440740  XE3193808         50023260
7      RQ3186959  LS3291906  AT2440145  XE3190160        101087472
...          ...        ...        ...        ...              ...
53342  RQ3159699  LS3403786  AT2498648  XE3294079        101064884
53343  RQ3159706  LS3403785  AT2498648  XE3294092        101064889
53345  RQ2982645  LS3084531  AT2333114  XE3010186        101061436
53346  RQ3001929  LS3168007  AT2372365  XE3082044        101065427
53347  RQ2933752  LS3004067  AT2301016  XE2944172        101064694

[35414 rows x 5 columns]

In [4]:
dup_idx = dups.index.tolist()

In [5]:
uniq = df.drop(df.index[dup_idx])
print(uniq)

              RQ         LS         AT         XE  TRUE_PATIENT_ID
0      RQ3599137  LS3734240  AT2685908  XE3614564        101607589
1      RQ2552416  LS2852425  AT2228319  XE2820380        100542970
5      RQ2556533  LS2795660  AT2182370  XE2736277        100684741
11     RQ2962092  LS3028689  AT2309345  XE2962811        101092944
22     RQ3180957  LS3250941  AT2421164  XE3157177        101082482
...          ...        ...        ...        ...              ...
53328  RQ3103551  LS3161125  AT2370006  XE3072478        101065940
53335  RQ3069589  LS3126160  AT2350657  XE3046922        101058513
53338  RQ3012493  LS3081163  AT2331701  XE3006444        101054730
53339  RQ3159366  LS3216914  AT2406045  XE3123974        101064637
53344  RQ2930675  LS3007966  AT2309324  XE2965097        101061430

[17934 rows x 5 columns]

In [6]:
dedups = dups.groupby(['TRUE_PATIENT_ID']).sample(1)
print(dedups)

              RQ         LS         AT         XE  TRUE_PATIENT_ID
465    RQ3765924  LS3839169  AT2728266  XE3686986            82850
4615   RQ3383316  LS3430680  AT2511341  XE3316004           127765
5438   RQ2892979  LS2984455  AT2279640  XE2912410           493897
2169   RQ3583322  LS3602584  AT2605057  XE3481055           618204
3572   RQ3135629  LS3207232  AT2397359  XE3114411           724564
...          ...        ...        ...        ...              ...
37388  RQ3663683  LS3755616  AT2685218  XE3614284        101605955
27223  RQ3367757  LS3421395  AT2514197  XE3320352        101606279
35601  RQ3037259  LS3118117  AT2350667  XE3046613        101607560
28887  RQ3649045  LS3692502  AT2655699  XE3557405        101607639
40407  RQ3649045  LS3665135  AT2635592  XE3532795        101607641

[17306 rows x 5 columns]

In [7]:
final = pd.concat([uniq, dedups], ignore_index=True)
print(final)

              RQ         LS         AT         XE  TRUE_PATIENT_ID
0      RQ3599137  LS3734240  AT2685908  XE3614564        101607589
1      RQ2552416  LS2852425  AT2228319  XE2820380        100542970
2      RQ2556533  LS2795660  AT2182370  XE2736277        100684741
3      RQ2962092  LS3028689  AT2309345  XE2962811        101092944
4      RQ3180957  LS3250941  AT2421164  XE3157177        101082482
...          ...        ...        ...        ...              ...
35235  RQ3663683  LS3755616  AT2685218  XE3614284        101605955
35236  RQ3367757  LS3421395  AT2514197  XE3320352        101606279
35237  RQ3037259  LS3118117  AT2350667  XE3046613        101607560
35238  RQ3649045  LS3692502  AT2655699  XE3557405        101607639
35239  RQ3649045  LS3665135  AT2635592  XE3532795        101607641

[35240 rows x 5 columns]

In [8]:
df[df['TRUE_PATIENT_ID'] == 100897074]

              RQ         LS         AT         XE  TRUE_PATIENT_ID
9416   RQ3659627  LS3725754  AT2666430  XE3583764        100897074
19871  RQ3666234  LS3734184  AT2685908  XE3614437        100897074
19872  RQ3666456  LS3733920  AT2673685  XE3593610        100897074
22679  RQ2956051  LS3019783  AT2304098  XE2952761        100897074
29524  RQ3631958  LS3698863  AT2653986  XE3563267        100897074
36341  RQ3638114  LS3678726  AT2646832  XE3545871        100897074

In [9]:
final[final['TRUE_PATIENT_ID'] == 100897074]

              RQ         LS         AT         XE  TRUE_PATIENT_ID
20206  RQ3631958  LS3698863  AT2653986  XE3563267        100897074

In [15]:
import os
infile = f"maps/{assay}_rq2xe.csv"
os.path.splitext(infile)[0]

'maps/AY72_rq2xe'