In [6]:
import pandas as pd
import pickle

In [7]:
df = pd.read_csv("../assays/ay72/results/plink_fmt/ay72_fmat_labeled_updated_known.csv")

In [8]:
df.head()

,RQ1,RQ2,ay72_dist,ay72_mdist,ay72_mibs,ay72_nf_rel,ay72_rel,degree,coef
0,RQ3225471,RQ3097140,68606.235523,0.127753,0.872247,0.113151,0.072067,1,0.50
1,RQ3231093,RQ3390886,67467.539286,0.125633,0.874367,0.132876,0.085946,1,0.50
2,RQ3157743,RQ3559200,72782.808341,0.135530,0.864470,0.100081,0.072120,2,0.25
3,RQ2897668,RQ3004999,59808.356203,0.111370,0.888630,0.155170,0.084026,1,0.50
4,RQ2759685,RQ3135825,48772.240237,0.090820,0.909180,0.212269,0.143979,1,0.50

In [9]:
df_rqs = df[['RQ1', 'RQ2']]

In [10]:
df_top1 = df_rqs.groupby('RQ1').count().sort_values('RQ2', ascending=False)
top_rqs1 = pd.Series(df_top1.head().index[0:3])

In [11]:
for i in top_rqs1:
    rels = df[df['RQ1'] == i]
    print('\n'+i+':')
    print('-------')
    print(rels.groupby('degree').size())

RQ2814965:
-------
degree
1     3
2     5
3    14
dtype: int64

RQ3022197:
-------
degree
1    4
2    4
3    6
dtype: int64

RQ3252048:
-------
degree
1    2
2    4
3    5
dtype: int64

In [12]:
df_top2 = df_rqs.groupby('RQ1').count().sort_values('RQ2', ascending=False)
top_rqs2 = pd.Series(df_top2.head().index[0:3])

In [13]:
for i in top_rqs2:
    rels = df[df['RQ2'] == i]
    print('\n'+i+':')
    print('-------')
    print(rels.groupby('degree').size())

RQ2814965:
-------
degree
2    3
3    3
dtype: int64

RQ3022197:
-------
degree
3    1
dtype: int64

RQ3252048:
-------
degree
2    4
3    4
dtype: int64