In [ ]:
import pandas as pd
import numpy
import snowflake.connector
import os
from cryptography.hazmat.backends import default_backend
from cryptography.hazmat.primitives import serialization
from pathlib import Path
from datetime import date

In [2]:
user='rachael.cox@invitae.com'

# Connect to snowflake

In [3]:
#with open("/locus/home/racox/.ssh/rsa_key.p8", "rb") as key:
with open(f"{Path.home()}/.ssh/rsa_key.p8", "rb") as key:
    p_key = serialization.load_pem_private_key(
        key.read(),
        #password=os.environ["SNOWFLAKE_PRIVATE_KEY_PASSPHRASE"].encode(),
        password="".encode(),  # if you did not specify a password
        backend=default_backend(),
    )
pkb = p_key.private_bytes(
    encoding=serialization.Encoding.DER,
    format=serialization.PrivateFormat.PKCS8,
    encryption_algorithm=serialization.NoEncryption(),
)

#config = read_config(BLA_CONFIG, BLA_KEY)
conn = snowflake.connector.connect(
    user=f"{user}",
    private_key=pkb,
    account="invitae.us-east-1",
    warehouse="QUERY_WH",
    #database="INVITAE_PRD",
    #schema="LOAD",
    role="DATA_SCIENCE_PRD"
)

# example queries to make sure it's working
# query = "SHOW TABLES LIKE '%LIMS%'" # lims tables
# print(pd.read_sql(query, con=conn))

# query = "SHOW TABLES LIKE '%CROP%'" # crop tables
# print(pd.read_sql(query, con=conn))

# Functions

In [2]:
def label_coefficient(row):
    col = 'FORMATTED_FAMILY_MEMBERSHIP_RELATIONSHIP'
    if row[col] == 'twin of':
        return float(1)
    if (row[col] == 'sibling of' or row[col] == 'parent of' or row[col] == 'child of'):
        return float(0.5)
    if (row[col] == 'half-sibling of' or row[col] == 'paternal half-sibling of' or row[col] == 'maternal half-sibling of'):
        return float(0.25)
    if (row[col] == 'grandchild of' or row[col] == 'grandparent of'):
        return float(0.25)
    if (row[col] == 'niece/nephew of' or row[col] == 'uncle/aunt of'):
        return float(0.25)
    if row[col] == 'cousin of':
        return float(0.125)
    return None

In [3]:
def label_degree(row):
    col = 'FORMATTED_FAMILY_MEMBERSHIP_RELATIONSHIP'
    if row[col] == 'twin of':
        return 0
    if (row[col] == 'parent of' or row[col] == 'child of' or row[col] == 'sibling of'):
        return 1
    if (row[col] == 'half-sibling of' or row[col] == 'paternal half-sibling of' or row[col] == 'maternal half-sibling of'):
        return 2
    if (row[col] == 'grandchild of' or row[col] == 'grandparent of'):
        return 2
    if (row[col] == 'niece/nephew of' or row[col] == 'uncle/aunt of'):
        return 2
    if row[col] == 'cousin of':
        return 3
    return None

# Queries

Sub queries (modularize process):
* (1.0) get RQs for a FILTER
* (1.1) get family rels + research consent + recent we want, get unique RQs (get all individuals that match <FILTER>) --> use SO select col1 + col2 from table (https://stackoverflow.com/questions/5340064/select-2-columns-in-one-and-combine-them)
* (1.2) join on LS/XE/AT IDs ... where we can --> output should be RQ|AT|XE
* (2) get proportion of <FILTER> without family relationship

In [4]:
query = "select order_id from INVITAE_PRD.MODEL.REPORT_SUMMARY limit 10;"
print(pd.read_sql(query, con=conn))

    ORDER_ID
0  RQ3847197
1  RQ3874568
2  RQ3885544
3  RQ3889340
4  RQ3859576
5  RQ3872007
6  RQ3894730
7  RQ3852041
8  RQ3893318
9  RQ3843885

/locus/home/racox/miniconda3/envs/test_env/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [5]:
assay = 'AY72'
cutoff_date = '2021-04-01'

In [6]:
master_RQ_query = f"""
    WITH clinical_report AS (
        SELECT DISTINCT
            synthetic_id AS rq,
            report_pushed_date,
            _technical_report_id
        FROM "INVITAE_PRD"."LOAD"."CROP_PUBLIC_APP_CLINICALREPORT"
        //WHERE synthetic_id IN ('RQ3783420') -- Filter by RQs.
    )

    SELECT DISTINCT
        cr.rq,
        ts.system_id AS ls,
        ts.xe,
        parse_json(tr.ats):proband::string AS at,
        ts.gender,
        ts.ethnicity,
        parse_json(tr.assay_info):system_id::string AS assay_id,
        ts.accession_date,
        cr.report_pushed_date,
        tr.id AS report_id,
        o.true_patient_id,
        o.panels_ordered,
        p.consent_de_identified_internal_usage
    FROM clinical_report AS cr
        LEFT JOIN "INVITAE_PRD"."LOAD"."CROP_PUBLIC_APP_TECHNICALREPORT" AS tr ON tr.id = cr._technical_report_id
        LEFT JOIN "INVITAE_PRD"."LOAD"."CROP_PUBLIC_APP_TECHNICALSAMPLE" AS ts ON ts.id = tr.sample_id
        LEFT JOIN "INVITAE_PRD"."MODEL"."ORDER_SUMMARY" AS o ON cr.rq = o.order_id
        LEFT JOIN "INVITAE_PRD"."MODEL"."D_PATIENT" p ON o.true_patient_id = p.true_patient_id
    // <<<<<filter>>>>>
    WHERE (ts.accession_date > '{cutoff_date}' and assay_id = '{assay.upper()}' and p.consent_de_identified_internal_usage = 'TRUE')
"""

In [7]:
master_RQs = pd.read_sql(master_RQ_query, con=conn)

/locus/home/racox/miniconda3/envs/test_env/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [8]:
master_RQs.head()

,RQ,LS,XE,AT,GENDER,ETHNICITY,ASSAY_ID,ACCESSION_DATE,REPORT_PUSHED_DATE,REPORT_ID,TRUE_PATIENT_ID,PANELS_ORDERED,CONSENT_DE_IDENTIFIED_INTERNAL_USAGE
0,RQ3702725,LS3911573,XE3754984,AT2761143,Male,Hispanic,AY72,2022-07-14 00:29:32.781,2022-08-01 17:11:41.077559,3410385,101488209,NF1,True
1,RQ3815260,LS3896909,XE3741606,AT2757469,Male,White/Caucasian,AY72,2022-07-21 15:41:23.084,2022-08-01 16:00:45.381208,3402303,101577630,"Invitae Ciliopathies Panel, Invitae Primary Ci...",True
2,RQ3806520,LS3896647,XE3748840,AT2757560,Female,Hispanic,AY72,2022-07-21 15:17:15.811,2022-08-01 16:24:59.721103,3404274,101570574,"FBXO11, PTPN23",True
3,RQ3841353,LS3879164,XE3726035,AT2747426,Female,Unknown,AY72,2022-07-16 18:57:24.417,2022-07-22 12:13:53.224907,3376262,101598513,"APC, ATM, AXIN2, BAP1, BARD1, BMPR1A, BRCA1, B...",True
4,RQ3896265,LS3895966,XE3742121,AT2758761,Female,White/Caucasian,AY72,2022-07-21 20:14:02.605,2022-07-30 12:24:06.364964,3405454,101605234,Invitae BRCA1/2 Panel,True

# Among our master RQ list, get list with family relationships

In [9]:
relationship_query = f"""
    select distinct
    r.assay_id,
    f.formatted_reqid,
    f.formatted_proband_requisition_id,
    f.formatted_family_membership_relationship,
    f.formatted_family_id
    from
    ({master_RQ_query}) r
    join "INVITAE_PRD"."DROID"."REQREPO_FAMILY_MEMBERSHIPS" f
    on (r.rq = f.formatted_reqid or r.rq = f.formatted_proband_requisition_id)
    where (f.formatted_family_membership_relationship != 'partner of' and f.formatted_family_membership_relationship != 'self' and f.formatted_family_membership_relationship != 'proband_member of')
"""

In [10]:
all_relationships = pd.read_sql(relationship_query, con=conn)

/locus/home/racox/miniconda3/envs/test_env/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [11]:
len(all_relationships)

39050

In [12]:
all_relationships.head()

,ASSAY_ID,FORMATTED_REQID,FORMATTED_PROBAND_REQUISITION_ID,FORMATTED_FAMILY_MEMBERSHIP_RELATIONSHIP,FORMATTED_FAMILY_ID
0,AY72,RQ3388114,RQ3145768,sibling of,IF181957
1,AY72,RQ3655989,RQ3529221,parent of,IF206136
2,AY72,RQ3647335,RQ3046646,parent of,IF205636
3,AY72,RQ3749290,RQ3663919,parent of,IF211361
4,AY72,RQ3823459,RQ3424098,parent of,IF215798

In [13]:
relationship_query_member = f"""
    select distinct
    r.rq,
    r.xe,
    r.ls,
    r.at,
    r.ethnicity,
    r.assay_id,
    r.true_patient_id,
    f.formatted_reqid,
    f.formatted_family_membership_relationship,
    f.formatted_family_id
    from
    ({master_RQ_query}) r
    join "INVITAE_PRD"."DROID"."REQREPO_FAMILY_MEMBERSHIPS" f
    on r.rq = f.formatted_reqid
    where (f.formatted_family_membership_relationship != 'partner of' and f.formatted_family_membership_relationship != 'self' and f.formatted_family_membership_relationship != 'proband_member of')
"""

In [14]:
related_member_RQs = pd.read_sql(relationship_query_member, con=conn)

/locus/home/racox/miniconda3/envs/test_env/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [15]:
related_member_RQs.head()

,RQ,XE,LS,AT,ETHNICITY,ASSAY_ID,TRUE_PATIENT_ID,FORMATTED_REQID,FORMATTED_FAMILY_MEMBERSHIP_RELATIONSHIP,FORMATTED_FAMILY_ID
0,RQ2800503,XE2937055,LS2961618,AT2291820,White/Caucasian,AY72,100793540,RQ2800503,parent of,IF159776
1,RQ2800497,XE2797436,LS2859413,AT2214965,Hispanic,AY72,100762986,RQ2800497,sibling of,IF157803
2,RQ2805964,XE2830465,LS2881788,AT2235028,White/Caucasian,AY72,100767906,RQ2805964,child of,IF158082
3,RQ3567088,XE3511005,LS3638665,AT2621273,White/Caucasian,AY72,101380314,RQ3567088,sibling of,IF191089
4,RQ3373814,XE3335553,LS3437666,AT2522507,Black/African-American,AY72,101226160,RQ3373814,cousin of,IF189836

In [16]:
relationship_query_proband = f"""
    select distinct
    r.rq,
    r.xe,
    r.ls,
    r.at,
    r.ethnicity,
    r.assay_id,
    r.true_patient_id,
    f.formatted_proband_requisition_id,
    f.formatted_family_membership_relationship,
    f.formatted_family_id
    from
    ({master_RQ_query}) r
    join "INVITAE_PRD"."DROID"."REQREPO_FAMILY_MEMBERSHIPS" f
    on r.rq = f.formatted_proband_requisition_id
    where (f.formatted_family_membership_relationship != 'partner of' and f.formatted_family_membership_relationship != 'self' and f.formatted_family_membership_relationship != 'proband_member of')
"""

In [17]:
related_proband_RQs = pd.read_sql(relationship_query_proband, con=conn)

/locus/home/racox/miniconda3/envs/test_env/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [18]:
for col in related_proband_RQs.columns:
    print(col)
for col in related_member_RQs.columns:
    print(col)

RQ
XE
LS
AT
ETHNICITY
ASSAY_ID
TRUE_PATIENT_ID
FORMATTED_PROBAND_REQUISITION_ID
FORMATTED_FAMILY_MEMBERSHIP_RELATIONSHIP
FORMATTED_FAMILY_ID
RQ
XE
LS
AT
ETHNICITY
ASSAY_ID
TRUE_PATIENT_ID
FORMATTED_REQID
FORMATTED_FAMILY_MEMBERSHIP_RELATIONSHIP
FORMATTED_FAMILY_ID

In [19]:
print(len(related_member_RQs))
print(len(related_proband_RQs))

28170
16082

In [20]:
stacked = pd.concat([related_proband_RQs, related_member_RQs])
stacked.head()

,RQ,XE,LS,AT,ETHNICITY,ASSAY_ID,TRUE_PATIENT_ID,FORMATTED_PROBAND_REQUISITION_ID,FORMATTED_FAMILY_MEMBERSHIP_RELATIONSHIP,FORMATTED_FAMILY_ID,FORMATTED_REQID
0,RQ2796589,XE2798657,LS2859940,AT2218128,Hispanic,AY72,100759507,RQ2796589,sibling of,IF174339,NaN
1,RQ2797667,XE3050955,LS3131241,AT2356904,Asian,AY72,100760498,RQ2797667,parent of,IF185394,NaN
2,RQ3367036,XE3305233,LS3415071,AT2507184,African,AY72,101220785,RQ3367036,parent of,IF192673,NaN
3,RQ2808034,XE2758105,LS2790471,AT2194730,Hispanic,AY72,100690846,RQ2808034,sibling of,IF158701,NaN
4,RQ3798706,XE3706473,LS3858747,AT2738340,White/Caucasian,AY72,101564195,RQ3798706,child of,IF219274,NaN

In [21]:
len(stacked)

44252

In [22]:
nrq = len(stacked['RQ'].unique())
nls = len(stacked['LS'].unique())
nxe = len(stacked['XE'].unique())
nat = len(stacked['AT'].unique())
ntp = len(stacked['TRUE_PATIENT_ID'].unique())

print(f"# unique RQs = {nrq}")
print(f"# unique LSs = {nls}")
print(f"# unique XEs = {nxe}")
print(f"# unique ATs = {nat}")
print(f"# unique true patient IDs = {ntp}")

# unique RQs = 40764
# unique LSs = 41163
# unique XEs = 41178
# unique ATs = 2371
# unique true patient IDs = 40414

In [23]:
IDs = stacked[['RQ', 'LS', 'AT', 'XE', 'TRUE_PATIENT_ID']].drop_duplicates()
len(IDs)

41304

In [24]:
# make comma separated list of RQs per unique true patient ID
collapsed = IDs.groupby(['TRUE_PATIENT_ID'])['RQ', 'LS', 'XE'].agg(lambda x: ','.join(x.dropna())).reset_index()
collapsed['rq_count'] = collapsed.RQ.map(lambda x: [i.strip() for i in x.split(",")]).apply(len)
collapsed.sort_values('rq_count', ascending=False)

/tmp/ipykernel_45366/3958735930.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  collapsed = IDs.groupby(['TRUE_PATIENT_ID'])['RQ', 'LS', 'XE'].agg(lambda x: ','.join(x.dropna())).reset_index()

,TRUE_PATIENT_ID,RQ,LS,XE,rq_count
34592,101430899,"RQ3247817,RQ3630905,RQ3630905,RQ3753049,RQ3339366","LS3328468,LS3748797,LS3770908,LS3770908,LS3328468","XE3223851,XE3605535,XE3626941,XE3626941,XE3223851",5
11607,100897074,"RQ3666456,RQ3638114,RQ2956051,RQ3666234,RQ3631958","LS3733920,LS3678726,LS3019783,LS3734184,LS3698863","XE3593610,XE3545871,XE2952761,XE3614437,XE3563267",5
24,796091,"RQ3602448,RQ3602435,RQ3261279,RQ3261322","LS3682706,LS3689603,LS3401838,LS3379804","XE3548822,XE3555104,XE3294098,XE3274957",4
10504,100870620,"RQ3094919,RQ2924454,RQ2924454,RQ3083948","LS3210518,LS3041663,LS3000784,LS3000784","XE3117475,XE3000343,XE2932679,XE2932679",4
6090,100752193,"RQ2915342,RQ2841206,RQ2788202","LS3296110,LS2892720,LS2842735","XE3195415,XE2842983,XE2783270",3
...,...,...,...,...,...
13561,100941919,RQ3009192,LS3161356,XE3072452,1
13562,100941927,RQ3009200,LS3074475,XE3000946,1
13563,100941934,RQ3009209,LS3118094,XE3046483,1
13564,100942030,RQ3009324,LS3160101,XE3074879,1
40413,101642367,RQ2921247,LS2981491,XE2912095,1

In [25]:
len(collapsed[collapsed['rq_count'] > 1])

853

In [26]:
# count number of RQs per true patient ID (or # of occurences of each unique true patient ID)
collapsed = IDs.groupby('TRUE_PATIENT_ID').size().sort_values(ascending=False) 
collapsed.head(10)

TRUE_PATIENT_ID
101430899    5
100897074    5
796091       4
100870620    4
100752193    3
100947545    3
100876116    3
101172107    3
100889164    3
101304908    3
dtype: int64

In [27]:
len(collapsed)

40414

In [28]:
all_RQs = stacked['RQ'].unique()
numpy.savetxt(fname=f"../lists/{assay.lower()}_related_RQs.txt", X=all_RQs, delimiter='\n', fmt='%s')

In [29]:
stacked.groupby('FORMATTED_FAMILY_ID').agg({'TRUE_PATIENT_ID':lambda x: len(pd.unique(x))}).sort_values(by='TRUE_PATIENT_ID', ascending=False)

                     TRUE_PATIENT_ID
FORMATTED_FAMILY_ID
IF181550                          66
IF190397                          42
IF167003                          31
IF177827                          23
IF195392                          23
...                              ...
IF187421                           1
IF187428                           1
IF187448                           1
IF187472                           1
IF99944                            1

[19473 rows x 1 columns]

In [30]:
# the most: IF178533 (48)
# the least: IF188456 (1)
check_rel_table = all_relationships[all_relationships['FORMATTED_FAMILY_ID'] == 'IF188456'].drop_duplicates()
check_rel_table

Empty DataFrame
Columns: [ASSAY_ID, FORMATTED_REQID, FORMATTED_PROBAND_REQUISITION_ID, FORMATTED_FAMILY_MEMBERSHIP_RELATIONSHIP, FORMATTED_FAMILY_ID]
Index: []

In [31]:
# IF188456 (1) --> RQ3368277, RQ3348812	
check_stack = stacked[stacked['RQ'] == 'RQ3368277'] # didn't make it

In [32]:
family_counts = stacked.groupby('FORMATTED_FAMILY_ID').agg({'TRUE_PATIENT_ID':lambda x: len(pd.unique(x))}).sort_values(by='TRUE_PATIENT_ID', ascending=False)
good_families = family_counts[family_counts['TRUE_PATIENT_ID'] > 1].index
related_counts = stacked[stacked['FORMATTED_FAMILY_ID'].isin(good_families)].groupby('FORMATTED_FAMILY_MEMBERSHIP_RELATIONSHIP')['TRUE_PATIENT_ID'].count().reset_index()
related_counts

   FORMATTED_FAMILY_MEMBERSHIP_RELATIONSHIP  TRUE_PATIENT_ID
0                                  child of             3321
1                                 cousin of              446
2                             grandchild of              113
3                            grandparent of              439
4                           half-sibling of               93
5                  maternal half-sibling of              142
6                           niece/nephew of              283
7                                 parent of            25247
8                  paternal half-sibling of               59
9                                sibling of             4996
10                                  twin of              159
11                            uncle/aunt of              676

In [33]:
related_counts.to_csv(f"~/rel-exps/maps/{assay.lower()}_related_counts.csv", index = False)

In [34]:
# get unique RQs
rel_indv = stacked[stacked['FORMATTED_FAMILY_ID'].isin(good_families)]
rel_indv

,RQ,XE,LS,AT,ETHNICITY,ASSAY_ID,TRUE_PATIENT_ID,FORMATTED_PROBAND_REQUISITION_ID,FORMATTED_FAMILY_MEMBERSHIP_RELATIONSHIP,FORMATTED_FAMILY_ID,FORMATTED_REQID
0,RQ2796589,XE2798657,LS2859940,AT2218128,Hispanic,AY72,100759507,RQ2796589,sibling of,IF174339,NaN
2,RQ3367036,XE3305233,LS3415071,AT2507184,African,AY72,101220785,RQ3367036,parent of,IF192673,NaN
3,RQ2808034,XE2758105,LS2790471,AT2194730,Hispanic,AY72,100690846,RQ2808034,sibling of,IF158701,NaN
6,RQ2983684,XE3065741,LS3148958,AT2366045,White/Caucasian,AY72,100920270,RQ2983684,sibling of,IF178477,NaN
7,RQ2918171,XE2918457,LS2985968,AT2285218,White/Caucasian,AY72,100865185,RQ2918171,child of,IF204786,NaN
...,...,...,...,...,...,...,...,...,...,...,...
28164,RQ2871611,XE3096850,LS3186892,AT2386157,slavis,AY72,100825371,NaN,parent of,IF161873,RQ2871611
28165,RQ3666527,XE3614248,LS3757650,AT2685220,Asian,AY72,101459251,NaN,parent of,IF206743,RQ3666527
28166,RQ3623371,XE3670709,LS3818420,AT2717368,White/Caucasian,AY72,101425094,NaN,parent of,IF204257,RQ3623371
28168,RQ3620431,XE3537577,LS3665506,AT2639087,Unknown,AY72,101422803,NaN,parent of,IF200861,RQ3620431
28169,RQ3643743,XE3587112,LS3719145,AT2668924,White/Caucasian,AY72,101441247,NaN,parent of,IF205417,RQ3643743

In [35]:
pair_data = all_relationships[all_relationships['FORMATTED_FAMILY_ID'].isin(good_families)].drop_duplicates()
pair_data['degree'] = pair_data.apply(label_degree, axis=1)
pair_data['coefficient'] = pair_data.apply(label_coefficient, axis=1)
pair_data.head()

,ASSAY_ID,FORMATTED_REQID,FORMATTED_PROBAND_REQUISITION_ID,FORMATTED_FAMILY_MEMBERSHIP_RELATIONSHIP,FORMATTED_FAMILY_ID,degree,coefficient
0,AY72,RQ3388114,RQ3145768,sibling of,IF181957,1,0.5
1,AY72,RQ3655989,RQ3529221,parent of,IF206136,1,0.5
4,AY72,RQ3823459,RQ3424098,parent of,IF215798,1,0.5
5,AY72,RQ3489185,RQ2778346,parent of,IF196413,1,0.5
6,AY72,RQ2689201,RQ2564498,sibling of,IF151698,1,0.5

In [56]:
colm = 'FORMATTED_REQID'
colp = 'FORMATTED_PROBAND_REQUISITION_ID'
pair_data[pair_data[colm] == 'RQ3765816']

Empty DataFrame
Columns: [ASSAY_ID, FORMATTED_REQID, FORMATTED_PROBAND_REQUISITION_ID, FORMATTED_FAMILY_MEMBERSHIP_RELATIONSHIP, FORMATTED_FAMILY_ID, degree, coefficient]
Index: []

In [36]:
len(pair_data)

27751

In [37]:
pair_data.to_csv(f"~/rel-exps/maps/{assay.lower()}_related_pairs.csv", index = False)

In [38]:
print(len(rel_indv['RQ'].unique()))
good_RQs = rel_indv['FORMATTED_REQID'].unique()
good_RQs

33455

array([nan, 'RQ2800503', 'RQ2800497', ..., 'RQ3623371', 'RQ3620431',
       'RQ3643743'], dtype=object)

In [39]:
numpy.savetxt(fname=f"../lists/{assay.lower()}_actual_related_RQs.txt", X=good_RQs, delimiter='\n', fmt='%s')

In [40]:
ids = stacked[["RQ", "LS", "AT", "XE", "TRUE_PATIENT_ID"]]
ids_uniq = ids.drop_duplicates()
ids_uniq.to_csv(f"~/rel-exps/maps/{assay.lower()}_rq2xe.csv", index = False)

# Archive below here

## First pass RQ pull

### Get master RQ list

In [41]:
# master_RQ_query = """
#         select distinct 
#         r.order_id, 
#         r.created_at, 
#         o.panels_ordered, 
#         p.consent_de_identified_internal_usage 
#         from "INVITAE_PRD"."MODEL"."REPORT_SUMMARY" r 
#         join "INVITAE_PRD"."MODEL"."ORDER_SUMMARY" o 
#         on o.order_id = r.order_id 
#         join "INVITAE_PRD"."MODEL"."D_PATIENT" p 
#         where (o.panels_ordered = 'Invitae Common Hereditary Cancers Panel') 
#         and (r.created_at > '2021-01-01' and p.consent_de_identified_internal_usage = 'TRUE')
# """

### Link master RQs to AT/XEs

In [42]:
# join_RQ_query = f"""
#     select distinct
#     r.order_id,
#     e.ls,
#     e.xe,
#     t.analysis_task_id
#     from
#     // this table is the result from get_rqs
#     ({master_RQ_query}) r
#     join "INVITAE_PRD"."DROID"."SAURON_ENRICHMENTS" e
#     on r.order_id = e.rq
#     join "INVITAE_PRD"."PALANTIR"."PICARD_METRICS_BY_ENRICHED_LIBRARY" as t
#     on e.xe = t.enriched_library_id
#     where (e.ls is not null and e.xe is not null and t.analysis_task_id is not null)
# """

In [43]:
# master_RQs_AT_XE = pd.read_sql(join_RQ_query, con=conn)

### Get pairs w/ family relationships

In [44]:
# relationship_query = f"""
#     select distinct
#     r.order_id,
#     f.formatted_reqid,
#     f.formatted_proband_requisition_id,
#     f.formatted_family_membership_relationship,
#     f.formatted_family_id
#     from
#     // this table is the final list of RQ IDs from join_xe_at
#     ({join_RQ_query}) r
#     join "INVITAE_PRD"."DROID"."REQREPO_FAMILY_MEMBERSHIPS" f
#     on (r.order_id = f.formatted_reqid) or (r.order_id = f.formatted_proband_requisition_id)
#     where (f.formatted_family_membership_relationship != 'partner of' and f.formatted_family_membership_relationship != 'self'
#         and f.formatted_family_membership_relationship != 'proband_member of')
# """

### Get RQ list from family table

In [45]:
# relationship_RQ_query = f"""
#     select distinct * from
#     (
#         (select distinct
#           f.formatted_reqid, f.FORMATTED_FAMILY_ID, f.FORMATTED_FAMILY_MEMBERSHIP_RELATIONSHIP
#           from
#           // this table is the final list of RQ IDs from get_rel
#           ({relationship_query}) f
#         )
#     union
#         (select distinct
#           f.formatted_proband_requisition_id, f.FORMATTED_FAMILY_ID, f.FORMATTED_FAMILY_MEMBERSHIP_RELATIONSHIP
#           from
#           // this table is the final list of RQ IDs from get_rel
#           ({relationship_query}) f
#         )
#     )
# """

In [46]:
# related_RQs = pd.read_sql(relationship_RQ_query, con=conn)

### Get RQs from family table join LS/XE/AT values

In [47]:
# relationship_XE_AT_query = f"""
#     select *
#     from
#     // result from get_rel_rqs
#     ({relationship_RQ_query}) f
#     join
#     // result from join_xe_at
#     ({join_RQ_query}) x
#     on f.formatted_reqid = x.order_id
# """

In [48]:
# related_XEs_ATs = pd.read_sql(relationship_XE_AT_query, con=conn)

In [49]:
# related_XEs_ATs.head()

In [50]:
# family_counts = related_XEs_ATs.groupby('FORMATTED_FAMILY_ID').count()
# good_families = family_counts[family_counts['FORMATTED_REQID'] > 1].index
# #related_RQs[related_RQs['FORMATTED_FAMILY_ID'].isin(good_families)]
# related_XEs_ATs[related_XEs_ATs['FORMATTED_FAMILY_ID'].isin(good_families)].groupby('FORMATTED_FAMILY_MEMBERSHIP_RELATIONSHIP').count()

## RDP broker code

In [51]:
# %%bash
# export PYPI_USER='rachael.cox@invitae.com'
# export PYPI_PASSWORD='AKCp8mZTE2918QZzY6iuNsKtuPXDT8i4jvjAy92A3YiJgdKvqc45GbnNeNNafii3ASyy3mHPj'
# pip install --index-url https://$PYPI_USER:$PYPI_PASSWORD@invitae.jfrog.io/artifactory/api/pypi/python-local/simple/ --trusted-host invitae.jfrog.io --extra-index-url https://pypi.python.org/simple/ --user snowflake-rdp-broker

In [52]:
# from snowflake_rdp_broker.snowflake_broker import SnowflakeBroker
# from snowflake_rdp_broker.enums import SnowflakeConnectionParams

In [53]:
# conn_params = SnowflakeConnectionParams(user="rachael.cox@invitae.com", 
#                                         auth0=True,
#                                        role="DATA_SCIENCE_PRD",
#                                        database="INVITAE_PRD",
#                                        warehouse="QUERY_WH")
# sf_broker = SnowflakeBroker(conn_params)
# sf_broker.get_connection()

In [54]:
# # master RQ list
# test = sf_broker.sql_to_df(f"select order_id from INVITAE_PRD.MODEL.REPORT_SUMMARY limit 10;")